<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.9) 0%, rgba(0,36,61,0.6) 30%), url('https://static.pexels.com/photos/48720/pexels-photo-48720.jpeg');">
  <div class="banner-content">
    <h1>FABULOUS COCKTAILS</h1>
  </div>
</div>

<% @cocktails.each do |r| %>
<div class="col-xs-12 col-sm-4">
  <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('');">
    <div class="card-description">
     <h2><%= link_to r.name.upcase, cocktail_path(r) %></h2>
   </div>
  </div>
</div>
<% end %>