<div class="card">
  <div class="card-header">
    <%= image_tag article.image_url %>
  </div>
  <div class="card-body">
    <h2><%= cocktail.name %></h2>
    <p class="article-content"><%= cocktail.ingredient %></p>
  </div>
</div>